a{
    text-decoration: none;
}

a.active{
    text-decoration: none;
    color: crimson;
}

.navbar{
    min-height: 80px;
    margin-bottom: 0;
    width: 100%;
}

.navbar-inverse .navbar-brand {
    color: whitesmoke;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 20px;
}

a{
    text-decoration: none;
    color: greenyellow;
    font-size: 20px;
}



